* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  section {
    height: 100vh;
    background-color: rgb(39, 41, 68);
    font-family: sans-serif;
  }
  
  .score {
    color: rgb(224, 224, 224);
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .score h2 {
    font-size: 30px;
  }
  .score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
  }
  
  .intro {
    color: rgb(224, 224, 224);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
  }
  
  .intro h1 {
    font-size: 50px;
  }
  .intro button,
  .match button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: rgb(224, 224, 224);
    font-size: 20px;
    background: rgb(45, 117, 96);
    border-radius: 3px;
    cursor: pointer;
  }
  
  .match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
  }
  .winner {
    color: rgb(224, 224, 224);
    text-align: center;
    font-size: 50px;
  }
  
  .hands,
  .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .player-hand {
    transform: rotateY(180deg);
  }
  
  div.fadeOut {
    opacity: 0;
    pointer-events: none;
  }
  
  div.fadeIn {
    opacity: 1;
    pointer-events: all;
  }
  
  @keyframes shakePlayer {
    0% {
      transform: rotateY(180deg) translateY(0px);
    }
    15% {
      transform: rotateY(180deg) translateY(-50px);
    }
    25% {
      transform: rotateY(180deg) translateY(0px);
    }
    35% {
      transform: rotateY(180deg) translateY(-50px);
    }
    50% {
      transform: rotateY(180deg) translateY(0px);
    }
    65% {
      transform: rotateY(180deg) translateY(-50px);
    }
    75% {
      transform: rotateY(180deg) translateY(0px);
    }
    85% {
      transform: rotateY(180deg) translateY(-50px);
    }
    100% {
      transform: rotateY(180deg) translateY(0px);
    }
  }
  
  @keyframes shakeComputer {
    0% {
      transform: translateY(0px);
    }
    15% {
      transform: translateY(-50px);
    }
    25% {
      transform: translateY(0px);
    }
    35% {
      transform: translateY(-50px);
    }
    50% {
      transform: translateY(0px);
    }
    65% {
      transform: translateY(-50px);
    }
    75% {
      transform: translateY(0px);
    }
    85% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @media  screen and (max-width:450px) {
    section{
        height: 150vh;
        width: 140%;
    }
    .match{
        margin-left: 7vh;
    }
      
  }